@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Surasshu.Areas.Identity.Data.SurasshuUser>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     @foreach (var users in Model)
     {
         <partial name="IndexPartial.cshtml" model="users" />
     }
</div>
