@model Surasshu.Areas.Identity.Data.SurasshuUser

<div class="card-body">
    <h4 class="card-title">@Model.UserName</h4>
    <table class="table">
        <tr>
            <td>First Name</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
        </tr>
    </table>
</div>
