@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Surasshu.Areas.Identity.Data.SurasshuUser>

<div class="text-center">
    <h1 class="display-4">Welcome to Surasshu</h1>
     
    

</div>
