@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All your data is being stored in a cloud Azure Database for a college's student's Capstone. There is hashing so
    data won't be stolen easily but whatever you put in here is your risk
</p>

<p class="error-messages">User's Discretion Advised</p>
