@model Quirk

<div class="row">
    <div class="card-body bg-opacity-75 card text-white bg-secondary mb-3">
        <h3>@Model.QuirkName</h3>
        <div>@Model.QuirkDescription</div>
    </div>
</div>