@model IEnumerable<Warrior>

<body class="battlefield">
    <div class="container bg-black text-white">
        <div class="row">
            <div class="col">
                <div>User's warrior's img</div>
                <div>User's warrior's name</div>
                <div>User's warrior's hp (current hp / max hp)</div>
            </div>
            <div class="col-6 bg-text">Text to show the progress of the battle</div>
            <div class="col">
                <div>Opponent's warrior's img</div>
                <div>Opponent's warrior's name</div>
                <div>Opponent's warrior's hp (current hp / max hp)</div>
            </div>
        </div>
    </div>
</body>