@using Surasshu.Models
@using Surasshu.Data
@using Microsoft.AspNetCore.Identity
@using Surasshu.Areas.Identity.Data

@model IEnumerable<Warrior>

<body class="dojo">
<div class="row">
    @foreach (Warrior warrior in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4 text-center mb-3">
            @if(warrior.ImageLink == null && warrior.IsNinja)
            {
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQGz5BR-UzS0eqX5j5iYeQ2VZjTjqa2rC31Nw-Xjnh6CJ1l9PlmYEyp2dwTe0_lzB1xnA&usqp=CAU"
                     width="200"
                     height="148"/>
            }
            else if (warrior.ImageLink == null && !warrior.IsNinja)
            {
                <img src="https://static.vecteezy.com/system/resources/previews/005/644/134/original/clip-art-of-samurai-with-silhouette-design-vector.jpg"
                     width="200"
                     height="148">
            }
            else
            {
                <img src="@warrior.ImageLink"
                     width="200"
                     height="148"/>

            }
            <partial name="WarriorPartial.cshtml" model="warrior" />
            @if(warrior.Level >= 3) 
            {
            <form asp-controller="Warrior" asp-action="EquipWithQuirkPage" asp-route-id="@warrior.WarriorId" method="post">
                <button class="btn-success" type="submit">Set Quirk(s)</button>
            </form>
            }
            <br/>
            <form asp-controller="Warrior" asp-action="DeleteWarrior" asp-route-id="@warrior.WarriorId" method="post">
                <input type="text" id="txtDelete" name="txtDelete" placeholder="Type 'DELETE ME' to confirm deletion"/>
                <button class="btn-danger" type="submit">Delete</button>
            </form>
        </div>
    }

        <form asp-controller="Warrior" asp-action="CreateWarrior" method="post">
            <div>Name</div>
            <input name="NameBox" id="NameBox" placeholder="Enter Name" type="text" value=""/>
            <input name="ImageBox" id="ImageBox" placeholder="Enter Image Link" type="text" value=""/>

            <select name="SelectWarriorType" id="SelectWarriorType">
                <option name="Ninja" id="Ninja">Ninja</option>
                <option name="Samurai" id="Samurai">Samurai</option>
                <option name="Any" id="Any">Any</option>
            </select>

            <button type="submit" class="btn btn-success">Generate Warrior</button>
        </form>
</div>
</body>